/* Setting background to Ice-Rink */
body {
    /* background-image: url('IceRink.png'); */
	background-image: url('../../images/sportshack/IceRink-Large.png');
    background-repeat: no-repeat;
}

/* Player 1 - Image */
#ice-player-1 {
	position: absolute;
    z-index: -1;
	font-size: 14px;
}